<template>
  <div class="ventana-facturacion">
    <h2>Por favor llena tu información fiscal</h2>
    <form class="facturacion" action="index.html" method="post">
      <div class="medium-input">
        <label for="">RFC</label>
        <input type="text" name="" value="" class="facturacion-input"
        v-model="invoiceInfo.rfc" disabled>
      </div>
      <div class="medium-input">
        <label for="">Razón social</label>
        <input type="text" name="" value="" class="facturacion-input"
        v-model="invoiceInfo.business_partner_info.company_name">
      </div>
      <div class="medium-input">
        <label for="">Uso del CFDI</label>
        <select v-model="invoiceInfo.business_partner_info.cfdi_use" class="facturacion-input">
          <option value="">
            -- Seleccione uno --
          </option>
          <option value="G01">
            Adquisición de mercancias
          </option> 
          <option value="G02">
            Devoluciones, descuentos o bonificaciones
          </option> 
          <option value="G03">
            Gastos en general
          </option> 
          <option value="I01">
            Construcciones
          </option> 
          <option value="I02">
            Mobilario y equipo de oficina por inversiones
          </option> 
          <option value="I03">
            Equipo de transporte
          </option> 
          <option value="I04">
            Equipo de computo y accesorios
          </option> 
          <option value="I05">
            Dados, troqueles, moldes, matrices y herramental
          </option> 
          <option value="I06">
            Comunicaciones telefónicas
          </option> 
          <option value="I07">
            Comunicaciones satelitales
          </option> 
          <option value="I08">
            Otra maquinaria y equipo
          </option> 
          <option value="D01">
            Honorarios médicos, dentales y gastos hospitalarios.
          </option> 
          <option value="D02">
            Gastos médicos por incapacidad o discapacidad
          </option> 
          <option value="D03">
            Gastos funerales.
          </option> 
          <option value="D04">
            Donativos.
          </option> 
          <option value="D05">
            Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación).
          </option> 
          <option value="D06">
            Aportaciones voluntarias al SAR.
          </option> 
          <option value="D07">
            Primas por seguros de gastos médicos.
          </option> 
          <option value="D08">
            Gastos de transportación escolar obligatoria.
          </option> 
          <option value="D09">
            Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones.
          </option> 
          <option value="D10">
            Pagos por servicios educativos (colegiaturas)
          </option> 
          <option value="P01">
            Por definir
          </option>
        </select>
      </div>
      <div class="medium-input">
        <label for="">Forma de pago</label>
        <select v-model="invoiceInfo.business_partner_info.forma_pago" class="facturacion-input">
          <option value="">
            -- Seleccione uno --
          </option>
          <option value="01">
           Efectivo
          </option> 
          <option value="04">
            Tarjeta de crédito
          </option> 
          <option value="28">
            Tarjeta de débito
          </option> 
        </select>
      </div>
      <div class="large-input">
        <label for="">Correo electrónico</label>
        <input type="text" name="" value="" class="facturacion-input"
        v-model="invoiceInfo.business_partner_info.email" placeholder="correo1@example.com, correo2@example.com">
      </div>
    </form>
    <div>
      <button type="submit" name="button" class="search-button" v-bind:class="{ 'disabled-btn': disabledBtn }"
      v-on:click="$emit('invoice-ticket', invoiceInfo)" :disabled="disabledBtn">
        Facturar
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DatosFacturacion',
    props: {
      msg: String,
      ticket: Object,
      disabledBtn: Boolean,
      disabledClass: String
    },
    data() {
      return {
        partidas: [],
        invoiceInfo: this.ticket,
        disBtn: this.disabledBtn
      }
    }
  }
</script>

<style media="screen">

  input, button, select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    width: 100%;
  }

  .ventana-facturacion {
    text-align: left;
  }

  .ventana-facturacion h2 {
    text-align: center;
  }

  .facturacion-input {
    color: #666666;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1em;
    font-style: normal;
    background-color: white;
    border: 1px solid  #C7C7C7;
    height: 52px;
    min-height: 3em;
    padding: 0.9375em;
    -webkit-appearance: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    margin-bottom: 1em;
    border-radius: 5px;
  }
  
  .xlarge-input {
    width: 78%;
    margin-right: 1em;
    display: inline-block;
  }

  .large-input {
    width: 61.2%;
    margin-right: 1em;
    display: inline-block;
  }
  
  .medium-input {
    width: 30%;
    margin-right: 1em;
    display: inline-block;
  }
  
  .small-input {
    width: 15%;
    margin-right: 1em;
    display: inline-block;
  }

  .disabled-btn {
    background-color: #C997B6;
  }
  
</style>
