<template>
  <div class="mensaje-error-box">
    <div class="warning-container">
      <img src="img/warning.png" alt="">
    </div>
    <div class="warning-text">
      <p>{{ msg }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ErrorMessage',
    props: {
      msg: String
    }
  }
</script>

<style media="screen">
  .mensaje-error-box {
    border: 1px solid red;
    color: #666;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 25%;
    width: 50%;
    background-color: #fff;
    padding: 1em;
  }

  .mensaje-error-box .warning-container {
    width: 10%;
    display: inline-block;
  }

  .mensaje-error-box .warning-container img {
    width: 100%;
    vertical-align: baseline;
  }

  .mensaje-error-box .warning-text {
    width: 80%;
    vertical-align: super;
    display: inline-block;
    margin-left: 2em;
  }
</style>
