<template lang="html">
  <div class="lds-dual-ring"></div>
</template>

<script>
export default {
  name: 'Loading'
}
</script>

<style lang="css" scoped>
  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #002674;
    border-color: #002674 transparent #002674 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
