<template>
  <div class="table-container">
    <table>
        <tr>
          <th>Cantidad</th>
          <th>Producto y/o servicio</th>
          <th>Código SAT</th>
          <th>Unidad SAT</th>
        </tr>
        <tr v-for="partida in partidas" :key="partida.id">
          <td>{{ partida.cantidad }}</td>
          <td>{{ partida.producto }}</td>
          <td>{{ partida.codigo_sat }}</td>
          <td>{{ partida.unidad_sat }}</td>
        </tr>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'PartidasTable',
    props: {
      partidas: Array
    }
  }
</script>

<style media="screen">
  .table-container {
    margin-top: 2em;
  }
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  th {
    background-color: #000;
    color: white;
  }
  tr {
    line-height: 2em;
  }
  .invoice-button {
    display: block;
    width: 15%;
    margin-left: 42.5%;
    margin-top: 1em;
  }
</style>
