<template>
  <div class="controls">
    <h2>Sistema de Facturación Electrónica</h2>
    <form action="index.html" method="post">
      <div>
        <input type="text" name="" value="" class="search-input" placeholder="RFC"
        v-model="ticketInfo.rfc">
      </div>
      <div>
        <input type="text" name="" value="" class="search-input" placeholder="Referencia de compra"
        v-model="ticketInfo.id">
      </div>
      <div>
        <button type="button" name="button" class="search-button" v-on:click="$emit('search-ticket', ticketInfo)">Buscar</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'SearchBox',
    props: {
    },
    data() {
      return {
        ticketInfo: {
          id: '',
          rfc: ''
        }
      }
    },
    created(){
      let uri = window.location.href.split('?');
      if (uri.length == 2){
        let vars = uri[1].split('&');
        let getVars = {};
        let tmp = '';
        vars.forEach(function(v){
          tmp = v.split('=');
          if(tmp.length == 2)
          getVars[tmp[0]] = tmp[1];
        });
        this.ticketInfo.id = getVars.token;
      }
    }
  }
</script>

<style media="screen">

  .search-input {
    color: #333;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1em;
    font-style: normal;
    background-color: white;
    border: 1px solid  #C7C7C7;
    height: 52px;
    min-height: 3em;
    padding: 0.9375em;
    width: 35%;
    -webkit-appearance: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    margin-bottom: 1em;
    border-radius: 5px;
  }

  .search-button {
    background-color: #CE348B;
    border: none;
    cursor: pointer;
    padding: 0.9375em 0;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 52px;
    max-height: 52px;
    min-height: 3em;
    width: 35%;
    -webkit-appearance: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
  }
</style>
