<template id="">
  <div class="success-message-box">
    <div class="success-logo">
      <img src="img/success.png" alt="">
    </div>
    <div class="success-text">
      <p>{{ msg }}</p>
    </div>
    <div class="icons-container">
      <div class="single-icon-container">
        <img src="img/pdf.png" alt="">
        <a :href="pdfUrl" target="_blank">Descargar</a>
      </div>
      <div class="single-icon-container">
        <img src="img/xml.png" alt="">
        <a :href="xmlUrl" target="_blank">Descargar</a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SuccessMessage',
    props: {
      msg: String,
      pdfUrl: String,
      xmlUrl: String
    }
  }
</script>

<style media="screen">
  .success-message-box {
    border: 1px solid #3faa3a;
    color: #666;
    margin-top: 1em;
    margin-left: 25%;
    width: 50%;
    background-color: #fff;
    padding: 1em;
  }

  .success-message-box .success-logo {
    width: 10%;
    display: inline-block;
  }

  .success-message-box .success-logo img {
    width: 100%;
    vertical-align: baseline;
  }

  .icons-container {
    margin-left: 2.5em;
  }

  .single-icon-container {
    width: 10%;
    display: inline-block;
    margin-right: 3em;
  }

  .single-icon-container img {
    width: 100%;
    vertical-align: baseline;
  }
</style>
