<template>
  <div id="app">
    <header class="navigation" role="banner">
      <div class="l-container">
        <div class="navigation-wrapper">
          <a href="javascript:void(0)" class="logo">
            <img alt="logo" src="img/datafierce.png">
          </a>
        </div>
      </div>
    </header>
    <div class="main-content">
      <div class="l-container orden-compra">
        <search-box v-if="showSearchBox" v-on:search-ticket="onSearchTicket"></search-box>
        <datos-facturacion v-if="showDatosFacturacion" :ticket="ticket"
        v-on:invoice-ticket="onInvoiceTicket" :disabledBtn="disabledBtn">
        </datos-facturacion>
        <loading v-if="showLoading"></loading>
        <error-message v-if="showErrorMsg" :msg="error_message"></error-message>
        <success-message v-if="showSuccessMsg" :msg="scsMsg" :pdfUrl="PDFurl" :xmlUrl="XMLurl"></success-message>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchBox from './components/SearchBox.vue'
  import ErrorMessage from './components/ErrorMessage.vue'
  import DatosFacturacion from './components/DatosFacturacion.vue'
  import SuccessMessage from './components/SuccessMessage.vue'
  import Loading from './components/Loading.vue'
  import firebase from 'firebase'
  
  export default {
    name: 'app',
    components: {
      SearchBox,
      ErrorMessage,
      DatosFacturacion,
      SuccessMessage,
      Loading
    },
    data() {
      return {
        error_message: "Lo sentimos, no fue posible encontrar su ticket, favor de verificar el número ingresado.",
        scsMsg: "Factura generada con éxito",
        showSearchBox: true,
        showErrorMsg: false,
        showDatosFacturacion: false,
        showSuccessMsg: false,
        showLoading: false,
        disabledBtn: false,
        ticket: {},
        PDFurl: "",
        XMLurl: "",
      }
    },
    methods: {
      onSearchTicket: function (ticketInfo) {
        var that = this;
        that.showLoading = true;
        that.showSuccessMsg = false;
        that.showErrorMsg = false;
        var searchService = process.env.VUE_APP_SEARCH_SERVICE;
        that.postData(searchService, {
              ticket_number: ticketInfo.id,
              ticket_total: 0,
              rfc: ticketInfo.rfc,
              portal_url: window.location.hostname
            })
        .then(data => that.validateSearchResponse(data, that))
        .catch(error => that.genericErrorMsg(error));
      },
      onInvoiceTicket: function(invoiceInfo) {
        var that = this;
        that.showLoading = true;
        that.showSuccessMsg = false;
        that.showErrorMsg = false;
        that.disabledBtn = true;
        if(this.validateFields()){
          var invoiceService = process.env.VUE_APP_INVOICE_SERVICE;
          var invoiceRef = firebase.database().ref('todos')
          var newRef = invoiceRef.push({ uuid: invoiceInfo.ticket_number, status: 'pending' })
          var firebaseKey = newRef.key;
          var firebaseUrl = "https://contalink-invoices.firebaseio.com/todos/"+firebaseKey+".json"
          
          var bodyRequest = {
            ticket_number: invoiceInfo.ticket_number,
            ticket_total: invoiceInfo.ticket_total,
            rfc: invoiceInfo.rfc,
            portal_url: window.location.hostname,
            firebase_url: firebaseUrl,
            email: invoiceInfo.business_partner_info.email,
            ord_order_id: invoiceInfo.ord_order_id,
            business_partner_info: invoiceInfo.business_partner_info
          }
          that.postData(invoiceService, bodyRequest)
          .then(data => that.listenFirebase(data, firebaseKey))
          .catch(error => that.genericErrorMsg(error));
        }
      },
      postData: function(url = ``, data = {}) {
        // Default options are marked with *
          return fetch(url, {
              method: "POST", // *GET, POST, PUT, DELETE, etc.
              mode: "cors", // no-cors, cors, *same-origin
              cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
              credentials: "same-origin", // include, *same-origin, omit
              headers: {
                  "Content-Type": "application/json",
              },
              redirect: "follow", // manual, *follow, error
              referrer: "no-referrer", // no-referrer, *client
              body: JSON.stringify(data), // body data type must match "Content-Type" header
          })
          .then(response => response.json()); // parses response to JSON
      },
      validateSearchResponse: function(response){
        var that = this;
        that.showLoading = false;
        if(response.status === 0){
          that.showErrorMsg = true;
          that.error_message = response.message;
        }else{
          if(response.pdf_path){
            that.PDFurl = response.pdf_path;
            that.XMLurl = response.xml_path;
            that.scsMsg = response.message;
            that.showSuccessMsg = true;
          }else{
            that.ticket = response.search_params;
            if(response.search_params.business_partner_info == null){
              that.ticket.business_partner_info = {
                company_name: "",
                cfdi_use: "",
                email: "",
                forma_pago: ""
              }
            }else{
              if(!response.search_params.business_partner_info.forma_pago)
                that.ticket.business_partner_info.forma_pago = "";
            } 
            that.showSearchBox = false;
            that.showDatosFacturacion = true;
          }
        }
      },
      listenFirebase: function(response, firebaseId){
        var that = this;
        var starCountRef = firebase.database().ref('todos/'+firebaseId);
        starCountRef.on('value', function(snapshot) {
          var values = snapshot.val();
          if(values.status == "OK"){
            that.showLoading = false;
            that.PDFurl = values.url_pdf;
            that.XMLurl = values.url_xml;
            that.showSuccessMsg = true;
          }else if(values.status == "ERROR"){
            that.showLoading = false;
            that.showErrorMsg = true;
            that.error_message = "Ocurrió un error inesperado, favor de contactar al equipo de soporte.";
          }
        });
      },
      genericErrorMsg: function(){
        var that = this;
        that.showErrorMsg = true;
        that.showLoading = false;
        that.error_message = "Lo sentimos, ocurrió un error durante el proceso. Favor de intentarlo nuevamente.";
      },
      validateFields: function(){
        var that = this;
        var errorsInput = [];
        if(that.ticket.business_partner_info.forma_pago == "" || !that.ticket.business_partner_info.forma_pago){
          errorsInput.push('Forma de pago');
        }
        if(that.ticket.business_partner_info.cfdi_use == "" || !that.ticket.business_partner_info.cfdi_use){
          errorsInput.push('Uso de CFDI');
        }
        if(that.ticket.business_partner_info.email == "" || !that.ticket.business_partner_info.email){
          errorsInput.push('Correo electrónico');
        }
        if(that.ticket.business_partner_info.company_name == "" || !that.ticket.business_partner_info.company_name){
          errorsInput.push('Razón social');
        }
        if(errorsInput.length > 0){
          that.error_message = "Lo siguientes campos son requeridos: "+errorsInput.join(", ");
          that.showErrorMsg = true;
          that.showLoading = false;
          that.disabledBtn = false;
          return false;
        }else{
          return true;
        }
      }
    }
  }
</script>

<style>
  body {
    margin: 0;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  @charset "UTF-8";* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .l-container,.ad-banner-container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto
  }

  .l-container.l-home,.l-home.ad-banner-container {
    max-width: 1200px
  }

  header.navigation {
    background: #002674;
    min-height: 45px;
    width: 100%;
    z-index: 999
  }

  header.navigation .logo {
    float: left;
    max-height: 45px;
    padding-left: 0;
    padding-right: 2em
  }

  header.navigation .logo img {
    height: 45px;
    max-height: 45px;
    padding: 0.5em 0
  }


  header.navigation nav {
    float: none;
    min-height: 45px;
    z-index: 9999999
  }
  
  .orden-compra {
    padding-top: 5em;
    text-align: center;
  }
  
  .main-content {
    background-color: #FAFAFA;
    color: #002674;
    min-height: 1024px;
  }
</style>
